############################
# Maven / Spring Boot
############################
target/
*/target/
*.jar
*.war
*.ear

############################
# Logs & temp files
############################
logs/
*.log
*.tmp
*.swp

############################
# IDE / Editor
############################
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

############################
# OS / Misc
############################
.DS_Store
Thumbs.db

############################
# Docker / Compose
############################
docker-data/

